.adventure {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    & > img {
      height: 100%;
      width: 100%;
    }
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    padding: 49px 18px 42px 20px;
  }

  &__overlay {
    background: linear-gradient(
      180deg,
      $black-transparent-lightest 0%,
      $black-transparent-medium 100%
    );
    border: 9px solid $white-muted;
    border-radius: 20px;
    backdrop-filter: blur(16px);
    padding: 32px 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 24px;
    color: $white;
    text-align: center;
    margin-bottom: 17px;
  }

  &__highlight {
    font-weight: 900;
  }
}

@media (min-width: $breakpoint-md) {
  .adventure {
    margin-bottom: 46px;

    &__wrapper {
      padding: 59px 35px;
    }

    &__overlay {
      margin-left: auto;
      max-width: 393px;
      padding: 42px 30px;
      align-items: start;
    }

    &__title {
      margin-bottom: 21px;
      text-align: start;
      max-width: 247px;
    }
  }
}

@media (min-width: $breakpoint-xxl) {
  .adventure {
    max-width: 1260px;
    margin: 0 auto;
    margin-bottom: 63px;

    &__wrapper {
      padding: 64px 107px 54px;
    }
  }
}
