.adventure {
  background-image: url("../../asset/images/adventure_background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 49px 18px 42px 20px;
  margin-bottom: 30px;

  &__overlay {
    background: linear-gradient(
      180deg,
      $black-transparent-lightest 0%,
      $black-transparent-medium 100%
    );
    border: 9px solid $white-muted;
    border-radius: 20px;
    backdrop-filter: blur(16px);
    padding: 32px 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 24px;
    color: $white;
    text-align: center;
    margin-bottom: 17px;
  }

  &__highlight {
    font-weight: 900;
  }
}

@media (min-width: $breakpoint-md) {
  .adventure {
    padding: 59px 35px;
    margin-bottom: 46px;

    &__overlay {
      margin-left: auto;
      max-width: 393px;
      padding: 42px 30px;
      align-items: start;
    }

    &__title {
      margin-bottom: 21px;
      text-align: start;
      max-width: 247px;
    }
  }
}
