.course-evaluation {
  padding-left: 18px;
  padding-right: 15px;
  padding-top: 29px;
  padding-bottom: 36px;
  margin-bottom: 24px;
  background-color: $blue-lighter;

  &__heading {
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    margin-bottom: 12px;
  }

  &__highlight {
    font-weight: 900;
  }

  &__description {
    text-align: center;
    max-width: 305px;
    margin: 0 auto 18px;
  }

  &__right {
    display: none;
  }
}

@media (min-width: $breakpoint-md) {
  .course-evaluation {
    padding-left: 61px;
    padding-right: 62px;
    padding-top: 52px;
    padding-bottom: 58px;
    margin-bottom: 51px;

    &__heading {
      font-size: 40px;
      margin-bottom: 11px;
    }

    &__description {
      max-width: 610px;
      margin: 0 auto 36px;
      font-size: 16px;
    }
  }
}

@media (min-width: $breakpoint-xxl) {
  .course-evaluation {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 1260px;
    margin: 0 auto;
    margin-bottom: 68px;
    display: flex;
    align-items: center;
    gap: 64px;

    &__heading {
      text-align: start;
    }

    &__description {
      text-align: start;
      max-width: none;
    }

    &__list {
      display: none;
    }

    &__right {
      display: flex;
      gap: 20px;

      &--col {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }

    &__box {
      border-radius: 20px;
      background-color: $blue-pale;
      width: 271px;
      height: 153px;

      &--top {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      &--bottom {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &--first {
        height: 149px;
      }

      &--third {
        height: 152px;
      }

      &--fifth {
        height: 131px;
      }

      &--sixth {
        height: 171px;
      }
    }
  }
}
