.course {
  margin-bottom: 24px;

  &__heading {
    text-align: center;
    font-weight: 300;
    font-size: 24px;

    &--highlight {
      font-weight: 900;
    }
  }

  &__description {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 30px;
  }
}

@media (min-width: $breakpoint-md) {
  .course {
    margin-bottom: 56px;

    &__heading {
      font-size: 40px;
    }

    &__description {
      margin-top: 21px;
      margin-bottom: 42px;
      max-width: 690px;
      font-size: 16px;
    }
  }
}
