.course {
  margin-bottom: 24px;

  &__heading {
    text-align: center;
    font-weight: 300;
    font-size: 24px;

    &--highlight {
      font-weight: 900;
    }
  }

  &__description {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 30px;
  }

  &__list {
    row-gap: 22px;
  }
}

@media (min-width: $breakpoint-md) {
  .course {
    margin-bottom: 56px;

    &__heading {
      font-size: 40px;
    }

    &__description {
      max-width: 690px;
      margin: 21px auto 42px;
      font-size: 16px;
    }
  }
}

@media (min-width: $breakpoint-xxl) {
  .course {
    margin-bottom: 70px;

    &__list {
      max-width: 1280px;
      margin: 0 auto;
    }

    &__description {
      margin: 21px auto 47px;
    }
  }
}
