.cta {
  background-image: url("../../asset/images/office_team_working_2.svg");
  background-size: cover;
  background-position: center;
  padding-top: 55px;
  padding-bottom: 26px;

  &__overlay {
    margin: 0 auto;
    max-width: 344px;
    border-radius: 20px;
    padding-top: 36px;
    padding-bottom: 40px;
    background: linear-gradient(
      180deg,
      $black-transparent-lightest 0%,
      $black-transparent-medium 100%
    );
    border: 9px solid $white-muted;
    backdrop-filter: blur(16px);
  }

  &__title {
    font-size: 16px;
    text-align: center;
    color: $white;
    margin-bottom: 16px;
  }

  &__highlight {
    font-weight: 900;
  }

  &__button {
    width: 100%;
  }
}

@media (min-width: $breakpoint-md) {
  .cta {
    padding-top: 48px;
    padding-bottom: 33px;

    &__overlay {
      margin: 0 auto;
      max-width: 726px;
      padding: 56px 48px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__title {
      font-size: 24px;
      text-align: start;
      margin-bottom: 0;
    }

    &__button {
      width: fit-content;
    }
  }
}
