.impact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  padding: 29px 18px 33px 18px;
  margin-bottom: 27px;
  box-shadow: 0px 4px 32px 0px $blue-tint;

  &__content-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content-bottom {
    background-color: $background-color;
    padding: 22px 36px 24px 46px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    font-weight: 300;
    font-size: 24px;
    max-width: 288px;
    text-align: center;
    margin-bottom: 14px;

    &--highlight {
      font-weight: 900;
      color: $blue-dark;
    }
  }

  &__description {
    max-width: 325px;
    text-align: center;
    margin-bottom: 21px;
  }

  &__title {
    font-size: 16px;
    margin-bottom: 37px;
  }
}

@media (min-width: $breakpoint-md) {
  .impact {
    padding-top: 54px;
    padding-bottom: 50px;
    margin-bottom: 50px;

    &__content-bottom {
      padding: 37px 60px 44px 58px;
    }

    &__heading {
      font-size: 40px;
      max-width: 393px;
      margin-bottom: 37px;
    }

    &__description {
      max-width: 640px;
      margin-bottom: 37px;
    }

    &__title {
      font-size: 20px;
      margin-bottom: 32px;
    }

    &__items {
      row-gap: 20px;
    }
  }
}

@media (min-width: $breakpoint-xxl) {
  .impact {
    max-width: 1260px;
    margin: 0 auto;
    padding: 75px 70px 57px;
    margin-bottom: 72px;

    &__content-top {
      flex-direction: row;
      margin-bottom: 65px;
      gap: 70px;
    }

    &__content-bottom {
      padding: 35px 35px 36px 38px;
    }

    &__heading {
      text-align: start;
      margin-bottom: 0;
    }

    &__description {
      text-align: start;
      max-width: 664px;
      margin-bottom: 0;
    }

    &__title {
      margin-bottom: 17px;
      text-align: start;
      max-width: 1055px;
      width: 100%;
      padding: 0 10px;
    }

    &__items {
      max-width: 1055px;
      width: 100%;
      margin-left: -7.5px;
      margin-right: -7.5px;

      & > * {
        padding: 0 7.5px;
      }
    }
  }
}
