.instructors {
  margin-bottom: 39px;

  &__heading {
    font-weight: 300;
    font-size: 24px;
    text-align: center;
  }

  &__description {
    text-align: center;
    margin-top: 17px;
    margin-bottom: 17px;
  }

  &__highlight {
    font-weight: 900;
    margin-bottom: 17px;
  }
}
