.instructors {
  margin-bottom: 39px;

  &__heading {
    font-weight: 300;
    font-size: 24px;
    text-align: center;
  }

  &__description {
    text-align: center;
    margin-top: 17px;
    margin-bottom: 17px;
  }

  &__highlight {
    font-weight: 900;
  }
}

@media (min-width: $breakpoint-md) {
  .instructors {
    margin-bottom: 54.19px;

    &__heading {
      font-size: 40px;
    }

    &__description {
      font-size: 16px;
      max-width: 690px;
      margin: 21px auto 46px;
    }

    &__list {
      & > .row {
        margin-left: -12px;
        margin-right: -12px;

        & > * {
          padding: 0 12px;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-xxl) {
  .instructors {
    margin-bottom: 99px;

    &__description {
      margin: 21px auto 56px;
    }

    &__list {
      max-width: 1260px;
      margin: 0 auto;

      & > .row {
        margin-left: -10px;
        margin-right: -10px;

        & > * {
          padding: 0 10px;
        }
      }
    }
  }
}
