.instructors {
  margin-bottom: 39px;

  &__heading {
    font-weight: 300;
    font-size: 24px;
    text-align: center;
  }

  &__description {
    text-align: center;
    margin-top: 17px;
    margin-bottom: 17px;
  }

  &__highlight {
    font-weight: 900;
  }
}

@media (min-width: $breakpoint-md) {
  .instructors {
    margin-bottom: 54.19px;

    &__heading {
      font-size: 40px;
    }

    &__description {
      font-size: 16px;
      margin-top: 21px;
      margin-bottom: 46px;
      max-width: 690px;
    }
  }
}
