.footer {
  background-color: $blue-dark;
  padding: 61px 37px 68px 39px;

  &__logo {
    width: 262px;
    margin: 0 auto;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 51px;
    margin-bottom: 37px;
  }

  &__copyright {
    font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: $white;
  }
}

@media (min-width: $breakpoint-md) {
  .footer {
    padding-top: 58px;
    padding-bottom: 60px;

    &__list {
      margin-bottom: 42px;
    }
  }
}

@media (min-width: $breakpoint-xxl) {
  .footer {
    padding-top: 88px;
    padding-bottom: 80px;

    &__list {
      margin-bottom: 51px;
    }
  }
}
