.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  padding-top: 18px;
  padding-bottom: 18px;

  &__menu {
    width: 59px;
    height: 59px;
    position: relative;
    background-color: $blue;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;

    &-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
