.course-evaluation {
  &__item {
    background-color: $white;
    padding: 22px 22px 25px;
    border-radius: 20px;
  }

  &__title {
    font-weight: 900;
    display: flex;
    align-items: center;
    gap: 9px;
    font-size: 20px;
    margin-bottom: 8px;
  }

  &__number {
    font-size: 40px;
    color: $blue-muted;
    width: 59px;
    height: 49px;
  }
}

@media (min-width: $breakpoint-md) {
  .course-evaluation {
    &__item {
      padding: 24px 22px 20px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      gap: 9px;
      justify-content: space-between;
    }

    &__title {
      margin-bottom: 0;
      max-width: 186px;
      width: 100%;
    }
  }
}
