.impact {
  &__item {
    margin: 0 auto;
    background-color: $blue-dark;
    display: flex;
    border-radius: 10px;
    padding: 18px 48px 19px 27px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 254px;

    &--value {
      color: $blue;
      font-weight: 900;
      font-size: 40px;
    }

    &--label {
      color: $white;
    }
  }
}
