* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: $background-color;
}

// .container {
//   max-width: 1260px;
//   margin: 0 auto;
//   width: 100%;
// }
