@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: $font-montserrat;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
  color: $blue-dark;
}

.text--blue {
  color: $blue;
}

.text--white {
  color: $white;
}
