$blue-dark: #162953;
$blue: #437fff;
$blue-light: #d5e3ff;
$blue-lighter: #e8efff;
$blue-muted: #ccd6ed;
$background-color: #f9fbff;
$blue-tint: #437fff0f;
$white-muted: #ffffff42;
$white: #ffffff;

$black-transparent-light: rgba(0, 0, 0, 0.2268);
$black-transparent-dark: rgba(0, 0, 0, 0.36);
$black-transparent-lightest: rgba(0, 0, 0, 0.156);
$black-transparent-medium: rgba(0, 0, 0, 0.26);

$font-montserrat: "Montserrat", sans-serif;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
